.member-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
  .member-list .card {
    background-color: #fff;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
  }
  .member-list h4 {
    font-size: 0.9em;
    color: var(--heading-color);
  }
  .member-list p {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .member-list .avatar {
    width: 30px;
    height: 30px;
  }

  /* submission status */
  .member-list .status {
    display: flex;
    align-items: center;
  }
  .member-list .submitted {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background: #0ebb50;
    border-radius: 50%;
    margin-top: 2px;
  }
  .member-list .not-submitted {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background: #bebc17;
    border-radius: 50%;
    margin-top: 2px;
  }
  .member-list .not-initiated {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background: #d61334;
    border-radius: 50%;
    margin-top: 2px;
  }